snippet pdb
	import pdb
	pdb.set_trace()

snippet class
	class ClassName():
		""" This is a Class definition
		"""

		def __init__(self):
			""" This is a __init__
			"""
			pass

		def memberFunc(self):
			""" This is a member function
			"""
			pass

snippet """
	"""
	"""
